<h3>Author</h3>
<ul class="list-unstyled">
  <li>
    <a href="mailto:pierre.poissinger@gmail.com">Pierre Poissinger</a>
  </li>
</ul>

<h3>CC attributions</h3>
<ul class="list-unstyled">
  <li>
    <a href="assets/svgs/about.svg" target="_new">
      <img width="32" height="32" src="assets/svgs/about.svg"/>
    </a>Created by Setyo Ari Wibowo from the <a href="https://thenounproject.com/">Noun Project</a>
  </li>
  <li>
    <a href="assets/svgs/genie.svg" target="_new">
    <img width="32" height="32" src="assets/svgs/genie.svg">
    </a>Created by Krisztián Mátyásfrom from the <a href="https://thenounproject.com/">Noun Project</a>
  </li>
  <li>
    <a href="assets/svgs/strat.svg" target="_new">
    <img width="32" height="32" src="assets/svgs/strat.svg">
    </a>Created by Gustavo Perez Rangel from the <a href="https://thenounproject.com/">Noun Project</a>
  </li>
  <li>
    <a href="assets/svgs/explore.svg" target="_new">
    <img width="32" height="32" src="assets/svgs/explore.svg">
    </a>Created by Chinnaking from the <a href="https://thenounproject.com/">Noun Project</a>
  </li>
  <li>
    <a href="assets/svgs/cog.svg" target="_new">
    <img width="32" height="32" src="assets/svgs/cog.svg">
    </a>Created by il Capitano from the <a href="https://thenounproject.com/">Noun Project</a>
  </li>
</ul>