<h3>What is this tool?</h3>
<p>
  chordr is a (basic) tool to help guitarists with some aspects of music theory.
</p>

<h3>Sections</h3>
<ul class="list-unstyled">
  <li><a routerLink="/library"><img src="assets/svgs/achord.svg" height="30" width="30"/>Chords</a> allows you to select chords and build freely your own progression.</li>
  <li><a routerLink="/explorer"><img src="assets/svgs/explore.svg" height="30" width="30"/>Mode Explorer</a> allows to explore mode and common progressions</li>
  <li><a routerLink="/genie"><img src="assets/svgs/genie.svg" height="30" width="30"/>Genie</a> lets you enter chords visually and helps finding matching progressions.</li>
  <li><a routerLink="/config"><img src="assets/svgs/cog.svg" height="30" width="30"/>Config</a> lets you change configuration of this application.</li>
</ul>
