<app-dismissable-alert key="modeGenie" title="Genie" text=" lets you enter chords visually and helps defining matching progression.">  
</app-dismissable-alert>

<div *ngFor="let chord of chords" class="chord-component unselectable" >
    <app-custom-chord [id]="chord.id" name="≈{{chord.name}} {{chord.type}}" [tab]="chord.tab" (onChange)="onChange($event)"></app-custom-chord>
</div>

<div class="mt-4" [hidden]="!progressions || progressions.length === 0">
    <h4>Found {{progressions.length}} progression(s): </h4>
    <div class="mt-2" *ngFor="let progression of progressions">
        <hr class="half-rule"/>
        <h5>{{progression.root}} {{progression.modeName}}</h5>        
        <div class="chord-component" *ngFor="let chord of progression.chords" [class.played]='chord.played'>
            <app-chord-box label="{{chord.numeral}}. {{chord.name}} {{chord.type}}" [tab]='tabify(chord)'></app-chord-box>
        </div>
    </div>
</div>

<div class="mt-4" [hidden]="progressions.length !== 0">
    <div class="alert alert-warning">
        No matching progressions found!
    </div>
</div>
