<app-dismissable-alert key="modeGenie" title="Genie" text=" lets you enter chords visually and helps defining matching progression.">  
</app-dismissable-alert>

<div *ngFor="let chord of chords" class="chord-component unselectable" >
    <app-custom-chord [id]="chord.id" name="≈{{chord.name}} {{chord.type}}" [tab]="chord.tab" (onChange)="onChange($event)"></app-custom-chord>
</div>


<div class="mt-4" [hidden]="!calculating">
    <div class="alert alert-info">
        <i class="fa fa-circle-o-notch fa-spin"></i> calculating
    </div>
</div>

<div class="mt-4" [hidden]="calculating || !progressions || progressions.length === 0">
    <h4>Found {{progressions.length}} progression(s): </h4>
    <div class="mt-2" *ngFor="let progression of progressions">
        <hr class="half-rule"/>
        <h5>
            <a routerLink="/explorer" [queryParams]="{'root': progression.root, 'mode': progression.modeName }" title="Explore">
                <img src="../assets/svgs/explore.svg" height="30" width="30" title="Explore"/>
            </a>
            {{progression.root}} {{progression.modeName}}            
        </h5>        
        <div class="chord-component" *ngFor="let chord of progression.chords" [class.played]='chord.played' (click)='addChord(chord)'>
            <app-chord-box label="{{chord.numeral}}. {{chord.name}} {{chord.type.toLowerCase()}}" [tab]='tabify(chord)'></app-chord-box>
        </div>
    </div>
</div>


<div class="mt-4" [hidden]="calculating || progressions.length !== 0">
    <div class="alert alert-warning">
        No matching progressions found!
    </div>
</div>
