div.chord-component {
    display:inline-block;
}

div.chord-component-new {
    border-radius: 10px;
    border: 2px dotted #aaaaaa; 
    padding: 0px; 
}


div:hover.chord-component-new {
    background: #fafafa;
    
    border-radius: 10px;
    border: 2px solid #aaaaaa;
    
    padding: 0px; 
}

.button-remove {
    color: red;
}