<div class="chord-component unselectable">
    <!-- Chord view -->
    <div [hidden]="!root" style="position: relative;">
        <app-chord-box label="{{root}} {{type}}" tab="{{tab}}" (click)="selectChordModal.show()" title="{{root}} {{type}} variation {{variation}}"></app-chord-box>        
        <div style="position: absolute; bottom: 0px; right: 0px">
            <button type="button" class="btn btn-link fa fa-times button-remove" (click)="remove()" title="Remove">      
            </button>
        </div>
    </div>

    <!-- Add new -->
    <div [hidden]="root" class="chord-component-new unselectable" title="Add new chord" (click)="selectChordModal.show()">
        <svg class="unselectable" height="100" width="100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" title="Add new chord">
            <circle cx="50" cy="50" r="20" stroke="grey" stroke-width="1" fill="white" />
            <line x1="40" x2="60" y1="50" y2="50" stroke="grey" stroke-width="2" stroke-linecap="round" />
            <line x1="50" x2="50" y1="40" y2="60" stroke="grey" stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>
</div>

<!-- Select chord dialog -->
<div class="modal" bsModal #selectChordModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="selectChordlModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Select new chord</h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="selectChordModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="rootSelect">root:</label>
                    <select id="rootSelect" type="string" [(ngModel)]="selectedRoot" (ngModelChange)="onRootChange($event)">
                        <option *ngFor="let root of Roots()" [value]="root">{{root}}</option>
                    </select>

                    <label for="typeSelect">type:</label>
                    <select id="typeSelect" type="string" [(ngModel)]="selectedType" (ngModelChange)="onTypeChange($event)">
                        <option *ngFor="let type of Types(selectedRoot)" [value]="type">{{type}}</option>
                    </select>
                </div>
                <div *ngFor="let variation of availableVariation" class="chord-component">
                    <app-chord-box label="{{variation.label}}" tab="{{variation.tab}}"  (click)="selectChord(selectedRoot, selectedType, variation.variation); selectChordModal.hide()">
                    </app-chord-box>
                </div>
            </div>
        </div>
    </div>
</div>